#container {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  position: static;
}

.alert {
  padding: 12px;
  background: #ffbfbf;
  color: #a70202;
  position: absolute;
  border-radius: 3px;
  left: calc(50% - 300px);
  top: 12px;
  width: 600px;
}
