<app-menu-title-row>

</app-menu-title-row>

<app-row>
  <app-left-column>
      <h1 class="page-title">Välj Förvaltning</h1>
      <vgr-page-block *ngIf="managements?.length > 0">
          <ul>
            <li *ngFor="let management of managements">
              <a [routerLink]="'/' + management.id">{{management.name}}</a>
            </li>
          </ul>
        </vgr-page-block>
    
        <vgr-page-block *ngIf="!loggedIn">
          <app-login-form></app-login-form>
        </vgr-page-block>
  </app-left-column>
  <app-right-column>
  </app-right-column>
</app-row>
