<app-menu-title-row>
  <h1>Välj klinik</h1>
</app-menu-title-row>

<app-row>
  <app-left-column>

  </app-left-column>
  <app-right-column>
    <vgr-page-block>
      <ul>
        <li *ngFor="let clinic of clinics">
          <a [routerLink]="clinic.id">{{clinic.name}}</a>
        </li>
      </ul>
    </vgr-page-block>

    <vgr-page-block *ngIf="!loggedIn">
      <form>
        <h3>Logga in</h3>
        <div>
          VGR-ID:
          <div><input [(ngModel)]="userId" name="USER"/></div>
        </div>
        <div>
          Lösenord:
          <div><input [(ngModel)]="password" name="PASSWORD" type="password"/></div>
        </div>
        <div class="button-row">
          <vgr-button [secondary]="false" default="true" (click)="login()" type="submit">Logga in</vgr-button>
        </div>
      </form>
    </vgr-page-block>
  </app-right-column>
</app-row>
