.careburden-text-wrap {

    .careburden-text-ssk {

        margin: 10px 0;
        padding: 5px 0;

        .careburden-text-ssk-label {
            border-bottom: 1px solid #ccc;
            font-weight: bold;
            
        }

        .vpp-table {
            thead th,
            tbody td {
                border-color: #ccc;
            }
        }

    }

}