/*
.list {

  &.transparent {
    background-color: transparent;

    .list-item {
      border-top: 2px solid #f0f0f0;
      margin-top: 0;
    }


    .list-item.list-item--expanded:not(.list-item--compact) {
      box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.3);
      margin-top: 14px;

      box-shadow: none;
      border: 2px solid #ddd;
    }


  }


  .list__header {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .list__items {

    &:before {
      height: 0px;
    }

  }
}*/
