.messages {

    app-message {

        .message {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            margin: 10px 0;
        }
        
        &:first-child {
            .message {
                border-top: 1px solid #ddd;
            }
        }
    }

    .message {
        
        .date {
            color: #666;
            font-size: 0.8em;
        }

        .message-title {
            font-weight: bold;
        }

        .message-content {
            color: inherit;
        }

    }

}

.messages-wrap {

    margin-top: 5px;

    .expandable-div {
        border-bottom: 1px solid #ddd;
        margin: 5px 0;
        padding: 5px 0;
    }

    .app-message {
        &:first-child {
            .expandable-div {
                border-top: 1px solid #ddd;
            }
        }
    }

    .date {
        color: #666;
        font-size: 0.8em;
    }



}
