<form [formGroup]="unitForm" *ngIf="unitForm">
  <vgr-panel-container>

    <vgr-panel [width]="6" [noborder]="true">
      <div *ngIf="showId">
        <div>ID:</div>
        <vgr-input formControlName="id"></vgr-input>
      </div>
      <div>
        <div>Namn:</div>
        <vgr-input formControlName="name"></vgr-input>
      </div>
    </vgr-panel>

    <vgr-panel [width]="6" [noborder]="true">

      <div>Klinik:</div>

      <vgr-dropdown [items]="clinicDropdownItems" formControlName="clinic"></vgr-dropdown>

    </vgr-panel>

  </vgr-panel-container>

  <vgr-card>
    <vgr-card-column>
      <vgr-card-section [expanded]="true" [title]="'Funktionsval'" [readonly]="false">
        <vgr-title-value-layout>
          <vgr-checkbox label="Gick hem" formControlName="hasLeftDateFeature"></vgr-checkbox>
          <vgr-checkbox label="Vårdplan" formControlName="hasCarePlan"></vgr-checkbox>
          <vgr-checkbox label="Akut patient" formControlName="hasAkutPatientFeature"></vgr-checkbox>
          <vgr-checkbox label="Electiv 23O" formControlName="has23oFeature"></vgr-checkbox>
          <vgr-checkbox label="Electiv 24O" formControlName="has24oFeature"></vgr-checkbox>
          <vgr-checkbox label="Vuxen patient" formControlName="hasVuxenPatientFeature"></vgr-checkbox>
          <vgr-checkbox label="Sekretess" formControlName="hasSekretessFeature"></vgr-checkbox>
          <vgr-checkbox label="Infekterad" formControlName="hasInfekteradFeature"></vgr-checkbox>
          <vgr-checkbox label="Infektionskäsnlig" formControlName="hasInfectionSensitiveFeature"></vgr-checkbox>
          <vgr-checkbox label="Smitta" formControlName="hasSmittaFeature"></vgr-checkbox>
          <vgr-checkbox label="Städning" formControlName="hasCleaningFeature"></vgr-checkbox>
          <vgr-checkbox label="PAL" formControlName="hasPalFeature"></vgr-checkbox>
          <vgr-checkbox label="Händelse" formControlName="hasHendelseFeature"></vgr-checkbox>
          <vgr-checkbox label="Rond Mor" formControlName="hasMorRondFeature"></vgr-checkbox>
          <vgr-checkbox label="Rond Barn" formControlName="hasBarnRondFeature"></vgr-checkbox>
          <vgr-checkbox label="Rond" formControlName="hasRondFeature"></vgr-checkbox>
          <vgr-checkbox label="Amning" formControlName="hasAmningFeature"></vgr-checkbox>
          <vgr-checkbox label="Information" formControlName="hasInfoFeature"></vgr-checkbox>
          <vgr-checkbox label="Vårdtyngd" formControlName="hasCareBurdenFeature"></vgr-checkbox>


        </vgr-title-value-layout>
      </vgr-card-section>

    </vgr-card-column>

    <vgr-card-column>
      <vgr-card-section [expanded]="true" [title]="'Vårdlag'" [subtitle]="" class="clearfix">
        <table class="vpp-table" *ngIf="!editSsks">

          <tr *ngFor="let ssk of unit?.ssks || []">
            <td>{{ssk.label}}</td>
            <td><span class="ssk-color ssk-{{ssk.color}}"></span></td>
          </tr>

          <tfoot>
          <tr>
            <td><a (click)="editSsks = true;" class="icon-link icon-link-with-text"><span class="material-icons">edit</span><span class="icon-text">Redigera</span></a></td></tr>
          </tfoot>
        </table>

        <div *ngIf="editSsks">
          <div formArrayName="ssks" *ngFor="let ssk of unitForm?.get('ssks').controls; let i = index;" class="edit-ssk-row">
            <div [formGroupName]="i">
              <input formControlName="label" placeholder="Namn..."/>
              <vgr-dropdown [items]="[{displayName: 'Blå', value: 'BLUE'}, {displayName: 'Grön', value: 'GREEN'}, {displayName: 'Röd', value: 'RED'}]" formControlName="color"></vgr-dropdown>
              <a (click)="deleteSsk(i)" class="icon-link"><span class="material-icons">delete</span></a>
            </div>
          </div>
          <div>
            <a (click)="addSsk()" class="icon-link icon-link-with-text"><span class="add-row vgr-icon-plus"></span><span class="icon-text">Lägg till vårdlag</span></a>
          </div>
        </div>
      </vgr-card-section>

      <vgr-card-section [expanded]="true" [title]="'Ursprungskliniker'" [subtitle]="" class="clearfix">
        <table class="vpp-table" *ngIf="!editKlinik">

          <tr *ngFor="let klinik of unit?.servingClinics || []">
            <td>{{klinik.name}}</td>
          </tr>

          <tfoot>
          <tr>
            <td><a (click)="editKlinik = true;" class="icon-link icon-link-with-text"><span class="material-icons">edit</span><span class="icon-text">Redigera</span></a></td></tr>
          </tfoot>
        </table>

        <div *ngIf="editKlinik">
          <div formArrayName="servingClinics" *ngFor="let klinik of servingClinics.controls let i = index;" class="edit-ssk-row">
            <div [formGroupName]="i">
              <input formControlName="name" placeholder="Klinik..."/>
              <a (click)="deleteServingClinic(i)" class="icon-link"><span class="material-icons">delete</span></a>
            </div>
          </div>
          <div>
            <a (click)="addServingClinic()" class="icon-link icon-link-with-text"><span class="add-row vgr-icon-plus"></span><span class="icon-text">Lägg till upsprungs klinik</span></a>
          </div>
        </div>
      </vgr-card-section>

      <vgr-card-section [expanded]="true" [title]="'Städning'" [subtitle]="" class="clearfix">
        <table class="vpp-table" *ngIf="!editCleanGroup">

          <tr *ngFor="let cleanalternative of unit?.cleaningAlternatives || []">
            <td>{{cleanalternative.description}}</td>
          </tr>

          <tfoot>
          <tr>
            <td><a (click)="editCleanGroup = true;" class="icon-link icon-link-with-text"><span class="material-icons">edit</span><span class="icon-text">Redigera</span></a></td></tr>
          </tfoot>
        </table>

        <div *ngIf="editCleanGroup">
          <div formArrayName="cleaningAlternatives" *ngFor="let cleanAlt of cleaningAlternatives.controls let i = index;" class="edit-ssk-row">
            <div [formGroupName]="i">
              <input formControlName="description" placeholder="städ alternative..."/>
              <a (click)=" deleteCleaningGroup(i)" class="icon-link"><span class="material-icons">delete</span></a>
            </div>
          </div>
          <div>
            <a (click)="addCleaningAlternative()" class="icon-link icon-link-with-text"><span class="add-row vgr-icon-plus"></span><span class="icon-text">Lägg till städning alternative</span></a>
          </div>
        </div>
      </vgr-card-section>

      <vgr-card-section [expanded]="true" [title]="'Vårdtyngd'" [subtitle]="" class="clearfix">
        <table class="vpp-table" *ngIf="!editKategoriGroup">

          <tr *ngFor="let burdenKategori of unit?.burdenKategories|| []">
            <td>{{burdenKategori.kategori}}</td>
          </tr>

          <tfoot>
          <tr>
            <td><a (click)="editKategoriGroup = true;" class="icon-link icon-link-with-text"><span class="material-icons">edit</span><span class="icon-text">Redigera</span></a></td></tr>
          </tfoot>
        </table>

        <div *ngIf="editKategoriGroup">
          <div formArrayName="careBurdenKategories" *ngFor="let burden of careBurdenKategories.controls let i = index;" class="edit-ssk-row">
            <div [formGroupName]="i">
              <input formControlName="kategori" placeholder="kategori ..."/>
              <a (click)= "deleteCareBurdenKategories(i)" class="icon-link"><span class="material-icons">delete</span></a>
            </div>
          </div>
          <div>
            <a (click)="addCareBurdenKategories()" class="icon-link icon-link-with-text"><span class="add-row vgr-icon-plus"></span><span class="icon-text">Lägg till vårdtyngd kategori</span></a>
          </div>
        </div>
      </vgr-card-section>

      <vgr-card-section [expanded]="true" [title]="'Vårdtyngds värde'" [subtitle]="" class="clearfix">
        <table class="vpp-table" *ngIf="!editBurdenValueGroup">

          <tr *ngFor="let burden of unit?.burdenValues|| []">
            <td>{{burden.burdenValue}}</td>
          </tr>

          <tfoot>
          <tr>
            <td><a (click)="editBurdenValueGroup = true;" class="icon-link icon-link-with-text"><span class="material-icons">edit</span><span class="icon-text">Redigera</span></a></td></tr>
          </tfoot>
        </table>

        <div *ngIf="editBurdenValueGroup">
          <div formArrayName="careBurdenValues" *ngFor="let burden of careBurdenValues.controls let i = index;" class="edit-ssk-row">
            <div [formGroupName]="i">
              <input formControlName="burdenValue" placeholder="kategori ..."/>
              <a (click)= "deleteCareBurdenValues(i)" class="icon-link"><span class="material-icons">delete</span></a>
            </div>
          </div>
          <div>
            <a (click)="addCareBurdenValues()" class="icon-link icon-link-with-text"><span class="add-row vgr-icon-plus"></span><span class="icon-text">Lägg till vårdtyngd värd</span></a>
          </div>
        </div>
      </vgr-card-section>
    </vgr-card-column>
  </vgr-card>

  <vgr-save-cancel (save)="saveUnit()" (cancel)="cancel()"
                   [hideLock]="true"></vgr-save-cancel>
</form>

<!--<vgr-page-block>
      <pre>{{unitForm?.value | json}}</pre>
    </vgr-page-block>-->
