.order-row {
  padding: 8px 20px;
  border-bottom: 2px solid #f0f0f0;
  margin: 0 -10px;

  &:hover {
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
    cursor: move;
  }
}


.tooltip {
  display: inline-block;
  margin-bottom: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: royalblue;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

}

.ike{
  color: limegreen;

}
