<vgr-page>

  <vgr-page-header>
    <h1><a routerLink="..">{{clinic?.name}}</a><app-chevron-right></app-chevron-right>{{unit?.name}}</h1>
  </vgr-page-header>

  <vgr-page-body>

    <vgr-page-block>
      <form *ngIf="unit" [formGroup]="bedForm">

        <vgr-list [flexibleHeader]="true" >
          <vgr-list-header>
            <vgr-list-column-header width="5">Rum/säng</vgr-list-column-header>
            <vgr-list-column-header width="5">Status</vgr-list-column-header>
            <vgr-list-column-header width="5">Patient</vgr-list-column-header>
          </vgr-list-header>

          <vgr-list-item *ngFor="let bed of unit.beds" (expandedChanged)="setCurrentBed($event, bed)" #theListItem>

            <vgr-list-item-header>
              <vgr-list-column width="5">{{bed.label}}</vgr-list-column>
              <vgr-list-column width="5">{{bed.occupied ? 'Upptagen' : 'Ledig'}}</vgr-list-column>
              <vgr-list-column width="5">{{bed.patient?.label}}</vgr-list-column>
            </vgr-list-item-header>

            <vgr-list-item-content [indentContent]="true">

              <div>
                <vgr-checkbox formControlName="occupied" label="Upptagen"></vgr-checkbox>
              </div>

              <div formGroupName="patient">
                <div>Patient</div>
                <input formControlName="label"/>
              </div>

              <div class="clearfix button-row save-cancel-delete">
                <vgr-save-cancel [hideLock]="true" [locked]="false" (cancel)="collapse(theListItem)" (save)="save()"></vgr-save-cancel>
                <vgr-button class="error" (click)="openDeleteModal(bed)">Radera</vgr-button>
              </div>

            </vgr-list-item-content>

          </vgr-list-item>

          <vgr-list-item (expandedChanged)="setCurrentBed($event, null)" #addListItem>
            <vgr-list-item-header >
              <vgr-list-column width="5"><div class="add-row vgr-icon-plus">Lägg till säng</div></vgr-list-column>
            </vgr-list-item-header>

            <vgr-list-item-content [indentContent]="true">
              <div>
                <div>Benämning</div>
                <input formControlName="label" />
              </div>

              <div>
                <vgr-checkbox formControlName="occupied" label="Upptagen"></vgr-checkbox>
              </div>

              <div formGroupName="patient">
                <div>Patient</div>
                <input formControlName="label"/>
              </div>

              <div class="clearfix button-row">
                <vgr-save-cancel [hideLock]="true" [locked]="false" (cancel)="collapse(addListItem)" (save)="save()"></vgr-save-cancel>
              </div>
            </vgr-list-item-content>
          </vgr-list-item>
        </vgr-list>
      </form>

      <div *ngIf="!unit && !error">
        <vgr-loader [small]="false"></vgr-loader>
      </div>

      <div *ngIf="error">
        <div class="alert">{{error}}</div>
      </div>
    </vgr-page-block>

  </vgr-page-body>

</vgr-page>

<app-delete-modal [itemLabel]="bedForDeletion?.label" (confirmDelete)="confirmDelete()"></app-delete-modal>
