<app-menu-title-row>

<div class="menu-title-item">
  <app-breadcrumbs *ngIf="unit" type="unit" [current]="unit"></app-breadcrumbs>
</div>

<div class="menu-title-item right">
  <app-dashboard-menu *ngIf="unit" [unit]="unit" type="unit-dashboard"></app-dashboard-menu>
</div>

</app-menu-title-row>

<app-layout>

  <app-layout-row>
    
    <app-layout-column width=9>
        <div>
            <vgr-page-block *ngIf="unit" class="{{showChangeBedOrder ? '' : 'transparent'}}">
              <div>
                <div *ngIf="showChangeBedOrder">
                  <p>Dra och släpp sängarna och spara sedan.</p>
                  <div dragula="ROWS" [(dragulaModel)]="bedsOrder">
                    <div class="order-row" *ngFor="let bed of unit.beds">
                      {{bed.label}} <app-ssk-icon [ssk]="bed.ssk"></app-ssk-icon>
                    </div>
                  </div>
      
                  <div class="button-row">
                    <vgr-save-cancel [hideLock]="true" (save)="saveBedOrder()"
                                      (cancel)="hideChangeBedOrder()"></vgr-save-cancel>
                  </div>
                </div>
      
                <div *ngIf="!showChangeBedOrder" class="bed-table-wrapper">
                  <app-bed-table *ngIf="clinic && unit" [clinic]="clinic" [unit]="unit" (save)="ngOnInit()"></app-bed-table>
      
                  <div class="button-row" style="padding: 0 0 16px 16px">
                    <vgr-button (click)="changeBedOrder()">Byt ordning</vgr-button>
                  </div>
                </div>
              </div>
      
            </vgr-page-block>
      
            <vgr-page-block *ngIf="unit?.patients.length > 0">
              <vgr-list [flexibleHeader]="true">
      
                <vgr-list-header>
                  <vgr-list-column-header width="10">Permission / teknisk plats</vgr-list-column-header>
                </vgr-list-header>
      
                <vgr-list-item *ngFor="let patient of unit?.patients" #leavePatientItem>
                  <vgr-list-item-header>
                    <vgr-list-column width="5">{{patient.label}}</vgr-list-column>
                    <vgr-list-column width="5">{{format(patient.leaveStatus)}}</vgr-list-column>
                  </vgr-list-item-header>
      
                  <vgr-list-item-content>
                    Välj ledig säng
                    <vgr-dropdown-select noItemSelectedLabel="Välj..." [(ngModel)]="chosenVacantBedId">
                      <vgr-dropdown-item *ngFor="let item of vacantBeds" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
                    </vgr-dropdown-select>
      
                    <div class="button-row">
                      <vgr-button (click)="chooseBedForLeavePatient(patient); collapse(leavePatientItem)">Spara</vgr-button>
                    </div>
      
                  </vgr-list-item-content>
                </vgr-list-item>
              </vgr-list>
            </vgr-page-block>
          


            <vgr-panel-container>
              <vgr-panel width="12">
          
                  <div class="row-layout panel-heading">
                      <span class="material-icons">schedule</span>
                      <div class="panel-heading-text">
                          <strong>Planerade in närmaste 8 dagarna: </strong>
                      </div>
                  </div>
          
                  <vgr-list allowMultipleExpandedItems="true" *ngIf="unit?.hasUnitPlannedInFeature" class="transparent">

                      <vgr-list-item [expanded]="true">
                        <vgr-list-item-header>
                            <vgr-list-column width="12">
                              <strong>{{unit.name}}</strong>
                            </vgr-list-column>
                          </vgr-list-item-header>
                          <vgr-list-item-content [indentContent]="true">
                              <app-unit-planned-in-table #thisUnitPlannedInTable [unit]="unit"></app-unit-planned-in-table>  
                          </vgr-list-item-content>
                      </vgr-list-item>
      
                      <vgr-list-item [expanded]="false" *ngFor="let unit of allUnitsOnSameClinic">
                          <vgr-list-item-header>
                              <vgr-list-column width="12">
                                  <strong>{{unit.name}}</strong>
                              </vgr-list-column>
                            </vgr-list-item-header>
                            <vgr-list-item-content [indentContent]="true">
                                <app-unit-planned-in-table [unit]="unit" ></app-unit-planned-in-table>
                            </vgr-list-item-content>
                        </vgr-list-item>
      
                  </vgr-list>
                  
              </vgr-panel>
          </vgr-panel-container>    

          <vgr-page-block *ngIf="unit?.hasUnitPlannedInFeature || unit?.careBurden == 'text'">
            <vgr-list [flexibleHeader]="false">
              <vgr-list-item #plannedunit *ngIf="unit?.hasUnitPlannedInFeature">
                <vgr-list-item-header>
                  <vgr-list-column width="12">
                    <div>Planerade patienter från andra enheter</div>
                  </vgr-list-column>
                </vgr-list-item-header>
                <vgr-list-item-content [indentContent]="true">
                  <app-unit-planned-in-items #unitPlannedInItems *ngIf="unit !== null" [unit]="unit" [clinic]="clinic"
                                             (cancelPlaningUnitEvent)="collapse(plannedunit)"
                                             (savePlaningUnitEvent)="collapse(plannedunit); onUnitPlannedInItemsSave();"></app-unit-planned-in-items>
                </vgr-list-item-content>
              </vgr-list-item>
              <vgr-list-item #oldplannedunit *ngIf="unit?.hasUnitPlannedInFeature">
                <vgr-list-item-header>
                  <vgr-list-column width="12">
                    <div>Gamla poster: Planerade patienter från andra enheter</div>
                  </vgr-list-column>
                </vgr-list-item-header>
                <vgr-list-item-content [indentContent]="true">
                  <app-unit-planned-in-items #unitPlannedInItemsOld *ngIf="unit !== null" [unit]="unit"
                                             [clinic]="clinic" [oldPost]="true" [showPlus]="true"
                                             (cancelPlaningUnitEvent)="collapse(oldplannedunit)"
                                             (savePlaningUnitEvent)="collapse(oldplannedunit);onUnitPlannedInItemsSave();"></app-unit-planned-in-items>
                </vgr-list-item-content>

              </vgr-list-item>
              <vgr-list-item *ngIf="unit.careBurden == 'text'">
                <vgr-list-item-header>
                  <vgr-list-column width="12">
                    <div>Vårdtyngd med text värde: Alternativ 2</div>
                  </vgr-list-column>
                </vgr-list-item-header>
                <vgr-list-item-content [indentContent]="true">
                  <app-widget-careburden-with-text-compact-alt [unit]="unit"
                                                               [sskCategoryValueMatrix]="sskCategoryValueMatrix"></app-widget-careburden-with-text-compact-alt>
                </vgr-list-item-content>
              </vgr-list-item>
            </vgr-list>
          </vgr-page-block>

                <vgr-page-block *ngIf="!unit">
                  <div *ngIf="!error">
                    <vgr-loader [small]="false"></vgr-loader>
                  </div>
      
                  <div *ngIf="error">
                    <div class="alert">{{error}}</div>
                  </div>
                </vgr-page-block>
              </div>            
    </app-layout-column>
    
    <app-layout-column width=3>
        <vgr-page-block class="transparent">

            <app-widget-messages [messages]="messages" [hasEditUnitPermission]="hasEditUnitPermission()"></app-widget-messages>
    
            <app-widget-diet-list [clinic]="clinic" [unit]="unit"></app-widget-diet-list>
    
            <app-widget-ssks [unit]="unit"></app-widget-ssks>
    
            <app-widget-careburden-average [unit]="unit" [bedsExpanded]="false"></app-widget-careburden-average>
    
            <vgr-panel-container *ngIf="unit?.careBurden == 'text'">
              <vgr-panel width="12">
                  <app-widget-careburden-with-text [unit]="unit" [sskCategoryValueMatrix]="sskCategoryValueMatrix"></app-widget-careburden-with-text>
              </vgr-panel>
            </vgr-panel-container>                  
    
          </vgr-page-block>
    </app-layout-column>

  </app-layout-row>

</app-layout>
