@import "../../../../node_modules/vgr-komponentkartan/assets/partials/_settings.colors.scss";

.order-row {
  padding: 8px 20px;
  border-bottom: 2px solid #f0f0f0;
  margin: 0 -10px;

  &:hover {
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
    cursor: move;
  }
}

.ikon {
  display: inline-block;
  margin-bottom: 2px;
  float: left;

  .material-icons {
    float: left;
  }
}

.gron{
  color: limegreen;
  font-size: 26px;
}

.rod{
  color: mediumvioletred;
  font-size:24px;
  margin-left: 5px;
}

.blue{
  color: cornflowerblue;
}

.greenyellow{
  color: greenyellow;
  font-size:24px;
}

.purpule {
  color: #0055aa;
  font-size:24px;
  margin-left: 5px;
}

rod {
  color: #ff0000;
  font-size:24px;
  margin-left: 5px;
}
