@import "../../../../node_modules/vgr-komponentkartan/assets/partials/_settings.colors.scss";

body{
  font-size: 15px;
}


.order-row {
  padding: 8px 20px;
  border-bottom: 2px solid #f0f0f0;
  margin: 0 -10px;

  &:hover {
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
    cursor: move;
  }
}

.ikon {
  display: inline-block;
  margin-bottom: 0;
  float: left;

  .material-icons {
    float: left;
  }
}

.gron{
  color: limegreen;
  font-size: 26px;
}

.rod{
  color: mediumvioletred;
  font-size:24px;
  margin-left: 5px;
}

.blue{
  color: cornflowerblue;
}

.greenyellow{
  color: greenyellow;
  font-size:24px;
}

.purpule {
  color: #0055aa;
  font-size:20px;
  margin-left: 5px;
}

rod {
  color: #ff0000;
  font-size:24px;
  margin-left: 5px;
}

.purpule__np {
  color: #0055aa;
  font-size:24px;
}

.pad-left-20{
  padding-left: 20px;
  text-align: center;
}

.right
{
  text-align: center;
  padding-left: 20px;
  padding-right: 0;
}

.containers
{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 3px;
}

h2{
  background-color: $primary-color--blue;
  color: white;
  padding: 8px 15px;
}

.child
{
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left:0;
  margin-right: 5px;
}

.child2
{
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left:0;
  margin-right: 0;
}
