<vgr-page>

  <vgr-page-header>
    <h1><a routerLink="..">{{clinic?.name}}</a>
      <app-chevron-right></app-chevron-right>
      {{unit?.name}}
    </h1>
  </vgr-page-header>

  <vgr-page-body>

    <vgr-page-block>
      <form *ngIf="unit" [formGroup]="bedForm">

        <div *ngIf="showChangeBedOrder">
          <p>Dra och släpp sängarna och spara sedan.</p>
          <div dragula="ROWS" [(dragulaModel)]="bedsOrder">
            <div class="order-row" *ngFor="let bed of unit.beds">
              {{bed.label}} <span class="ssk-color ssk-{{bed.ssk?.color}}"></span>
            </div>
          </div>

          <div class="button-row">
            <vgr-save-cancel [hideLock]="true" (save)="saveBedOrder()"
                             (cancel)="hideChangeBedOrder()"></vgr-save-cancel>
          </div>
        </div>

        <div *ngIf="!showChangeBedOrder">
          <vgr-list [flexibleHeader]="true">
            <vgr-list-header>
              <vgr-list-column-header width="2">Rum/säng</vgr-list-column-header>
              <vgr-list-column-header width="1">SSK</vgr-list-column-header>
              <vgr-list-column-header width="3">Status</vgr-list-column-header>
              <vgr-list-column-header width="3">Patient</vgr-list-column-header>
              <vgr-list-column-header width="3">Kön</vgr-list-column-header>
              <vgr-list-column-header width="4">Status</vgr-list-column-header>
            </vgr-list-header>

            <vgr-list-item *ngFor="let bed of unit.beds" (expandedChanged)="setCurrentBed($event, bed)" #theListItem>

              <vgr-list-item-header>
                <vgr-list-column width="2">{{bed.label}}</vgr-list-column>
                <vgr-list-column width="1"><span class="ssk-color ssk-{{bed.ssk?.color}}"></span></vgr-list-column>
                <vgr-list-column width="3"><span class="status-color status-{{bed.occupied ? 'OCCUPIED' : 'VACANT'}}"></span> {{bed.occupied ? 'Upptagen' : 'Ledig'}}</vgr-list-column>
                <vgr-list-column width="3">{{bed.patient?.label}}</vgr-list-column>
                <vgr-list-column width="3">{{format(bed.patient?.gender)}}</vgr-list-column>
                <vgr-list-column width="4">
                  <div class="ikon" *ngIf="bed.patient?.plannedLeaveDate != null"
                       appCallout  [appCallout]="'Planerad hemgång: ' +bed.patient?.plannedLeaveDate"><i class="fa fa-home gron"></i>
                  </div>

                  <div  class="ikon" *ngIf="unit.servingClinics.length != 0"
                        appCallout  [appCallout]="'Ny patient väntar från: ' + bed.servingClinic?.name"><i class="fa fa-wheelchair rod"></i>
                  </div>

                  <div  class="ikon" *ngIf="unit.servingClinics.length == 0 && bed.patientWaits === true"
                        appCallout  [appCallout]="'Ny patient väntar'"><i class="fa fa-wheelchair rod"></i>
                  </div>
                </vgr-list-column>
              </vgr-list-item-header>

              <vgr-list-item-content [indentContent]="true">

                <vgr-card>
                  <vgr-card-column>
                    <label for="bedName">Namn:</label>
                    <vgr-input id="bedName" formControlName="label"></vgr-input>
                    <div style="margin-bottom: 7px">
                      <vgr-checkbox formControlName="occupied" label="Upptagen"></vgr-checkbox>
                    </div>

                  </vgr-card-column>
                  <vgr-card-column>
                    <div style="margin-bottom: 7px">
                    <vgr-dropdown formControlName="ssk" [items]="sskDropdownItems"></vgr-dropdown>
                    </div>
                    <div style="margin-bottom: 7px">
                      <vgr-checkbox formControlName="waitingpatient" label="Patient väntar"></vgr-checkbox>
                        <vgr-dropdown  *ngIf="servingKlinikerDropdownItems.length != 0" formControlName="servingKlinik" noItemSelectedLabel="Välj klinik"
                                       [items]="servingKlinikerDropdownItems"></vgr-dropdown>
                    </div>
                  </vgr-card-column>
                </vgr-card>

                <hr/>

                <vgr-card formGroupName="patient">
                  <vgr-card-column>
                    <div>
                      <div style="margin-bottom: 10px">
                        <div>Patient</div>
                        <vgr-input formControlName="label"></vgr-input>
                      </div>

                      <div style="margin-bottom: 10px">
                        <div>Kön</div>
                        <vgr-dropdown formControlName="gender" noItemSelectedLabel="Välj kön"
                                      [items]="genderDropdownItems"></vgr-dropdown>
                      </div>

                      <div style="margin-bottom: 7px">
                        <div>Permission/Teknisk plats</div>
                        <vgr-dropdown formControlName="leaveStatus" noItemSelectedLabel="Välj..."
                                      [items]="[{displayName: 'Permission', value: 'PERMISSION'}, {displayName: 'Teknisk plats', value: 'TEKNISK_PLATS'}]"></vgr-dropdown>
                      </div>
                    </div>
                  </vgr-card-column>
                  <vgr-card-column>
                    <div *ngIf="unit.hasLeftDateFeature" style="margin-bottom: 10px">
                      <p>Gick hem</p>
                      <vgr-datepicker formControlName="leftDate"></vgr-datepicker>
                    </div>

                    <div style="margin-bottom: 10px">
                      <p>Planerad hemgång</p>
                      <vgr-datepicker formControlName="plannedLeaveDate"></vgr-datepicker>
                    </div>

                    <div style="margin-bottom: 7px">
                    <!--  <vgr-checkbox formControlName="waitingpatient" label="Patient väntar"></vgr-checkbox>
                      <vgr-dropdown  formControlName="servingKlinik" noItemSelectedLabel="Välj klinik"
                                     [items]="genderDropdownItems"></vgr-dropdown>-->
                    </div>
                  </vgr-card-column>
                </vgr-card>


                <div class="clearfix button-row save-cancel-delete">
                  <vgr-save-cancel [hideLock]="true" [locked]="false" (cancel)="collapse(theListItem)"
                                   (save)="save()"></vgr-save-cancel>
                  <vgr-button class="error" (click)="openDeleteModal(bed)">Radera</vgr-button>
                </div>

              </vgr-list-item-content>

            </vgr-list-item>

            <vgr-list-item (expandedChanged)="setCurrentBed($event, null)" #addListItem>
              <vgr-list-item-header>
                <vgr-list-column width="5">
                  <div class="add-row vgr-icon-plus">Lägg till säng</div>
                </vgr-list-column>
              </vgr-list-item-header>

              <vgr-list-item-content [indentContent]="true">
                <div>
                  <div>Benämning</div>
                  <input formControlName="label"/>
                </div>

                <div class="clearfix button-row">
                  <vgr-save-cancel [hideLock]="true" [locked]="false" (cancel)="collapse(addListItem)"
                                   (save)="save()"></vgr-save-cancel>
                </div>
              </vgr-list-item-content>
            </vgr-list-item>
          </vgr-list>

          <div class="button-row">
            <vgr-button (click)="changeBedOrder()">Byt ordning</vgr-button>
          </div>
        </div>

      </form>

      <div *ngIf="!unit && !error">
        <vgr-loader [small]="false"></vgr-loader>
      </div>

      <div *ngIf="error">
        <div class="alert">{{error}}</div>
      </div>
    </vgr-page-block>

    <vgr-page-block *ngIf="unit?.patients.length > 0">
      <vgr-list [flexibleHeader]="true">

        <vgr-list-header>
          <vgr-list-column-header width="10">Permission / teknisk plats</vgr-list-column-header>
        </vgr-list-header>

        <vgr-list-item *ngFor="let patient of unit?.patients" #leavePatientItem>
          <vgr-list-item-header>
            <vgr-list-column width="5">{{patient.label}}</vgr-list-column>
            <vgr-list-column width="5">{{format(patient.leaveStatus)}}</vgr-list-column>
          </vgr-list-item-header>

          <vgr-list-item-content>
            Välj ledig säng
            <vgr-dropdown noItemSelectedLabel="Välj..." [items]="vacantBeds"
                          [(ngModel)]="chosenVacantBedId"></vgr-dropdown>

            <div class="button-row">
              <vgr-button (click)="chooseBedForLeavePatient(patient); collapse(leavePatientItem)">Spara</vgr-button>
            </div>

          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>

    <vgr-page-block *ngIf="unit?.ssks.length > 0">
      <table>
        <thead>
        <tr>
          <th>Vårdlag</th>
          <th>Antal sängar</th>
        </tr>
        </thead>
        <tr *ngFor="let ssk of unit?.ssks">
          <td><span class="ssk-color ssk-{{ssk.color}}"></span> {{ssk.label}}</td>
          <td>{{countBeds(ssk)}}</td>
        </tr>
      </table>
    </vgr-page-block>

    <!--<vgr-page-block>
      <pre>{{bedForm?.value | json}}</pre>
    </vgr-page-block>-->

  </vgr-page-body>

</vgr-page>

<app-delete-modal [itemLabel]="bedForDeletion?.label" (confirmDelete)="confirmDelete()"></app-delete-modal>
