.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card__left-container {
  border-right-width: 0;
}

.card-controls {
  
  .card-column {
    padding-bottom: 0;
    padding-top: 0;
  }

  .card__left-container {
    .containers {
      justify-content: flex-start;
    }
  }

  .card__right-container {
    .containers {
      justify-content: flex-end;
    }
  }

}

#firstchild{
  flex-grow: 6;
  flex-shrink: 0;
}

#secondchild
{
  margin-right:4.2rem;
}

.saveCancel {
  align-self: flex-end;
  margin-top: 10px;
}

