<app-menu-title-row>

  <div class="menu-title-item">
    <div class="breadcrumbs">
      <a routerLink="..">{{clinic?.name}}</a>
      <app-chevron-right></app-chevron-right>
      {{unit?.name}}
    </div>
  </div>

  <div class="menu-title-item right">
      <div class="dashboards clearfix">
          <span class="dashboard-title">Vyer:</span>
          <a routerLink="..">Kombinerad</a>
          <span>Sängar</span>
      </div>
    </div>

</app-menu-title-row>

<app-row>
    <div>
        <vgr-page-block *ngIf="unit" class="full-width {{showChangeBedOrder ? '' : 'transparent'}}">
          <div>
            <div *ngIf="showChangeBedOrder">
              <p>Dra och släpp sängarna och spara sedan.</p>
              <div dragula="ROWS" [(dragulaModel)]="bedsOrder">
                <div class="order-row" *ngFor="let bed of unit.beds">
                  {{bed.label}} <span class="ssk-color ssk-{{bed.ssk?.color}}"></span>
                </div>
              </div>
  
              <div class="button-row">
                <vgr-save-cancel [hideLock]="true" (save)="saveBedOrder()"
                                  (cancel)="hideChangeBedOrder()"></vgr-save-cancel>
              </div>
            </div>
  
            <div *ngIf="!showChangeBedOrder" class="bed-table-wrapper">
              <app-bed-table *ngIf="clinic && unit" [clinic]="clinic" [unit]="unit" (save)="ngOnInit()"></app-bed-table>
  
              <div class="button-row" style="padding: 0 0 16px 16px">
                <vgr-button (click)="changeBedOrder()">Byt ordning</vgr-button>
              </div>
            </div>
          </div>
  
        </vgr-page-block>
  
        <vgr-page-block *ngIf="!unit">
          <div *ngIf="!error">
            <vgr-loader [small]="false"></vgr-loader>
          </div>
  
          <div *ngIf="error">
            <div class="alert">{{error}}</div>
          </div>
        </vgr-page-block>
      </div>
  
</app-row>
