<app-menu-title-row>
     
    <div class="menu-title-item">
        <div class="breadcrumbs">
            <a routerLink="..">Startsida</a>
            <app-chevron-right></app-chevron-right>
            Administration
        </div>
    </div>
  
  </app-menu-title-row>
  
  <app-row>
    <app-left-column>

        <h1 class="page-title">Administration</h1>

        <vgr-page-block>
            <ul>
              <li>
                <a routerLink="/admin/managements">Förvaltningar</a>
              </li>
              <li>
                  <a routerLink="/admin/clinics">Kliniker</a>
              </li>
              <li>
                  <a routerLink="/admin/units">Avdelningar</a>
              </li>
              <li>
                  <a routerLink="/admin/users">Användare</a>
              </li>
              <li>
                  <a routerLink="/admin/statistics">Statistik</a>
              </li>

            </ul>

          </vgr-page-block>
    </app-left-column>
    <app-right-column>
    </app-right-column>
  </app-row>  
