<table>
  <thead>
  <tr>
    <th [colSpan]="4"></th>
    <th [colSpan]="unit.careBurdenCategories.length" class="column-group first last">Vårdtyngd</th>
    <th *ngIf="unit.hasMotherChildDietFeature" [colSpan]="2" class="column-group first last">Kost</th>
    <th *ngIf="(unit.hasKostFeature ? 1 : 0) + (unit.hasAmningFeature ? 1 : 0) > 0" [colSpan]="(unit.hasKostFeature ? 1 : 0) + (unit.hasAmningFeature ? 1 : 0)"></th>
    <th *ngIf="(unit.hasMorRondFeature ? 1 : 0) + (unit.hasBarnRondFeature ? 1 : 0) > 0" [colSpan]="(unit.hasMorRondFeature ? 1 : 0) + (unit.hasBarnRondFeature ? 1 : 0)" class="column-group first last">Ronder</th>
    <th [colSpan]="50"></th>
  </tr>
  <tr>
    <th>Rum/säng</th>
    <th>Status</th>
    <th>Patient</th>
    <th>Team</th>
    <th class="column-group {{i == 0 ? 'first' : ''}} {{i == unit.careBurdenCategories.length - 1 ? 'last' : ''}}" *ngFor="let cbc of unit.careBurdenCategories; let i = index">{{cbc.name}}</th>
    <th class="column-group first" *ngIf="unit.hasMotherChildDietFeature">Mor</th>
    <th class="column-group last" *ngIf="unit.hasMotherChildDietFeature">Barn</th>
    <th *ngIf="unit.hasKostFeature">Kost</th>
    <th *ngIf="unit.hasAmningFeature">Amning</th>
    <th class="column-group first" *ngIf="unit.hasMorRondFeature">Mor</th>
    <th class="column-group last" *ngIf="unit.hasBarnRondFeature">Barn</th>
    <th *ngIf="unit.hasRondFeature">Rond</th>
    <th>Kön</th>
    <th>Tolk</th>
    <th *ngIf="unit.hasCleaningFeature">Städ</th>
    <th>Övrigt</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let bed of unit?.beds; let i = index">
    <tr (click)="toggleRow(i)" class="clickable">
      <td>{{bed.label}}</td>

      <td><span class="status-color status-{{bed.occupied ? 'OCCUPIED' : 'VACANT'}}" [appCallout]="bed.occupied ? 'Upptagen' : 'Ledig'"></span></td>

      <td><span>{{bed.patient?.label}}</span></td>

      <td><span class="ssk-color ssk-{{bed.ssk?.color}}"></span></td>

      <td class="care-burden-value column-group {{i == 0 ? 'first' : ''}} {{i == unit.careBurdenCategories.length - 1 ? 'last' : ''}}" *ngFor="let cbc of unit.careBurdenCategories; let i = index">
        <span *ngIf="getCareBurdenValue(cbc, bed.patient?.careBurdenChoices) as careBurdenValue" [ngClass]="careBurdenValue.color ? 'only-color ' + careBurdenValue.color: ''">{{careBurdenValue.name}}</span>
      </td>

      <td class="column-group first" *ngIf="unit.hasMotherChildDietFeature">{{bed.patient?.dietMother?.name}}</td>

      <td class="column-group last" *ngIf="unit.hasMotherChildDietFeature">{{bed.patient?.dietChild?.name}}</td>

      <td *ngIf="unit.hasKostFeature" [colSpan]="1">{{bed.patient?.diet?.name}}</td>

      <td *ngIf="unit.hasAmningFeature">
        <span class="ikon" *ngIf="bed.patient?.amning === '1'"
             [appCallout]="'Normal amning'"><i class="fa fa-circle-o purple"></i>
        </span>
        <span class="ikon" *ngIf="bed.patient?.amning === '2'"
             [appCallout]="'Amningshjälp'"><i class="fa fa-dot-circle-o purple"></i>
        </span>
        <span class="ikon" *ngIf="bed.patient?.amning === '3'"
             [appCallout]="'Amningsmottagning'"><i class="fa fa-dot-circle-o purple"></i> <i class="fa fa-dot-circle-o purple"></i>
        </span>
      </td>

      <td class="column-group first" *ngIf="unit.hasMorRondFeature">
        <span *ngIf="bed.patient?.morRond" class="ikon"><i class="fa fa-user-md purple"></i></span>
      </td>

      <td class="column-group last" *ngIf="unit.hasBarnRondFeature">
        <span *ngIf="bed.patient?.barnRond" class="ikon"><i class="fa fa-user-md purple"></i></span>
      </td>

      <td *ngIf="unit.hasRondFeature">
        <span *ngIf="bed.patient?.rond" class="ikon"><i class="fa fa-user-md purple"></i></span>
      </td>

      <td *ngIf="bed.patient?.gender === 'MAN'"><i class="fa fa-male purple"></i></td>
      <td *ngIf="bed.patient?.gender === 'KVINNA'"><i class="fa fa-female purple"></i></td>
      <td *ngIf="bed.patient?.gender === 'BARN'"><i class="fa fa-child purple"></i></td>
      <td *ngIf="bed.patient?.gender === null"></td>
      <td>
        <span class="ikon" *ngIf="bed.patient?.interpreter"
               [appCallout]="bed.patient.interpretInfo"><i class="material-icons purple">translate</i>
        </span>
      </td>
      <td *ngIf="unit.hasCleaningFeature">
        <span class="ikon" *ngIf="bed.cleaningalternativeExists && unit.hasCleaningFeature"
             [appCallout]="'Städ ' + ((bed.cleaningalternativeExists && bed.cleaningAlternative?.description) ? ': ' + bed.cleaningAlternative.description + ', ' + bed.cleaningInfo: '')"><i class="fa fa-leaf purple"></i>
        </span>
      </td>
      <td><app-the-other-bed-icons [bed]="bed" [unit]="unit"></app-the-other-bed-icons></td>
    </tr>
    <tr *ngIf="expandedRows[i]" class="bed-form-row {{delayedExpandedRows[i] ? 'visible' : 'hidden'}}">
      <td [colSpan]="50">
        <div class="bed-form-wrapper">
          <app-bed-form [clinicId]="clinic.id"
                        [unit]="unit"
                        [bed]="bed"
                        [careBurdenValuesOptions]="careBurdenValuesOptions"
                        [amningOptions]="amningOptions"
                        [dietMotherDropdownItems]="dietMotherDropdownItems"
                        [dietChildDropdownItems]="dietChildDropdownItems"
                        [dietDropdownItems]="dietDropdownItems"
                        [informationOptions]="informationOptions"
                        [genderDropdownItems]="genderDropdownItems"
                        [leaveStatusesDropdownItems]="leaveStatusesDropdownItems"
                        [sskDropdownItems]="sskDropdownItems"
                        [servingKlinikerDropdownItems]="servingKlinikerDropdownItems"
                        [cleaningAlternativesDropdownItems]="cleaningAlternativesDropdownItems"
                        (collapse)="collapse(i)"
                        (openDeleteModal)="openDeleteModal(bed)"
                        (save)="onSave(i)">

          </app-bed-form>
        </div>
      </td>
    </tr>
  </ng-container>

  <tr (click)="toggleRow(999)" class="clickable">
    <td [colSpan]="50">
      <span style="display: inline;" class="add-row vgr-icon-plus"></span> Lägg till säng
    </td>
  </tr>
  <tr *ngIf="expandedRows[999]" class="bed-form-row {{delayedExpandedRows[999] ? 'visible' : 'hidden'}}">
    <td [colSpan]="50">
      <div class="bed-form-wrapper">
        <form [formGroup]="addBedForm" (ngSubmit)="saveAddBed()">
          <div class="containers">
            <div style="flex-grow: 8; flex-shrink: 0">
              <div>Benämning</div>
              <vgr-input formControlName="label"
                         [showValidation]="false"></vgr-input>
            </div>

            <div class="clearfix button-row" style="flex-grow: 1; flex-shrink: 0">
              <vgr-button (click)="saveAddBed()" [disabled]="!addBedForm.valid">Spara</vgr-button>
              <vgr-button buttonStyle="secondary" (click)="collapse(999)">Avbryt</vgr-button>
            </div>
          </div>
        </form>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<app-delete-modal [itemLabel]="bedForDeletion?.label" (confirmDelete)="confirmDelete()"></app-delete-modal>
