<app-menu-title-row>
  <div class="menu-title-item">

    <div class="breadcrumbs">
      <span class="breadcrumb-item">
        <a routerLink="../../..">{{clinic?.management?.name}}</a>
        <app-chevron-right></app-chevron-right>
      </span>

      <span class="breadcrumb-item">
        <a routerLink="../..">{{clinic?.name}}</a>
        <app-chevron-right></app-chevron-right>
      </span>

      <span class="breadcrumb-item">
        <a routerLink="..">{{unit?.name}}</a>
        <app-chevron-right></app-chevron-right>
        Redigera meddelanden
      </span>
    </div>
  </div>
</app-menu-title-row>

<div class="row">
  <!--<app-left-column></app-left-column>-->
  <app-right-column class="full-width">
    <vgr-panel-container class="edit-messages-container">
      <vgr-panel *ngFor="let message of messages">
        <div *ngIf="editMessages.indexOf(message) === -1">
          <app-message [message]="message"></app-message>

          <div class="button-row clearfix">
            <app-link-icon class="delete-btn-wrap" (click)="delete(message)" class="warning" label="Ta bort meddelande" icon="delete"></app-link-icon>            
            <app-link-icon class="main-btn-wrap" (click)="editMessage(message)" label="Redigera meddelande" icon="delete"></app-link-icon>
          </div>

        </div>

        <div *ngIf="editMessages.indexOf(message) > -1">
          <app-edit-message [message]="message" (save)="save(message)"
                            (cancel)="cancel(message)"></app-edit-message>
        </div>
      </vgr-panel>

      <vgr-panel>
        <div (click)="addNewMessage()" appCallout="Lägg till meddelande" class="vgr-icon-plus"></div>
      </vgr-panel>
    </vgr-panel-container>
  </app-right-column>
</div>
