<app-menu-title-row>
    <div class="breadcrumbs">
        <a routerLink="../..">Startsida</a>
        <app-chevron-right></app-chevron-right>
        <a routerLink="..">Administration</a>
        <app-chevron-right></app-chevron-right>
        Statistik
    </div>
</app-menu-title-row>

<app-row>
  <app-left-column>
      <h1 class="page-title">Statistik</h1>
      <vgr-page-block>
          <h2>Statistik över planerad hemgång kontra faktisk hemgång</h2>
    
          <div class="clearfix row">
            <span class="datepicker-section">
              <label>Från:</label>
              <vgr-datepicker [selectedDate]="fromDate.value" [formControl]="fromDate" [maxDate]="maxDate" [minDate]="minDate"></vgr-datepicker>
            </span>
    
            <span class="datepicker-section">
              <label>Till och med: </label>
              <vgr-datepicker [selectedDate]="toDate.value" [formControl]="toDate" [maxDate]="maxDate" [minDate]="minDate"></vgr-datepicker>
            </span>
          </div>
    
          <div>
            <table>
              <tr *ngFor="let unit of units">
                <td>{{unit.clinic?.name}}</td>
                <td>{{unit.name}}</td>
                <td><a [href]="'/api/statistics/patientLeave?unitId=' + unit.id + '&fromDate=' + toString(fromDate.value) + '&toDate=' + toString(toDate.value)">Hämta</a> </td>
              </tr>
            </table>
          </div>
        </vgr-page-block>
  </app-left-column>
  <app-right-column>
  </app-right-column>
</app-row>
