<div>
  <label for="heading">Rubrik:</label>
  <vgr-input id="heading" [(ngModel)]="message.heading"></vgr-input>
</div>

<div class="button-row">
  <label>Innehåll:</label>
  <div><i>Notera att information som förs in blir offentlig och inte ska innehålla något som kan kopplas till person.</i></div>
  <ckeditor [(ngModel)]="message.text">

  </ckeditor>
</div>

<div class="button-row">
  <label>Datum:</label>
  <vgr-datepicker [(ngModel)]="message.date" [selectedDate]="toDate()"></vgr-datepicker>
  <a (click)="message.date = null">Rensa datum</a>
</div>

<div class="button-row">
  <label>Veckodag:</label>
  <div>
  <vgr-dropdown-select [(ngModel)]="message.dayOfWeek">
    <vgr-dropdown-item *ngFor="let item of allWeekdays" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
  </vgr-dropdown-select>
  </div>
  <a (click)="message.dayOfWeek = null">Rensa veckodag</a>
</div>

<div class="button-row clearfix">
  <!--
  <vgr-save-cancel (save)="save()" (cancel)="cancel()" [hideLock]="true"></vgr-save-cancel>
  -->
  <div class="main-btn-wrap">
    <vgr-button (click)="save()">Spara</vgr-button>
    <vgr-button buttonStyle="secondary" (click)="cancel()" >Avbryt</vgr-button>
  </div>



</div>
