.vpp-statistics-panel {

    .statistics-filters {

        margin-bottom: 20px;

        .statistics-filters-item {
            display: block;
            float: left;
            margin-right: 40px;
        }


    }


}