.containers{
  display: flex;
  flex-wrap: wrap;
}

.child1{
  width: 120px;
  flex: 0 1 auto;
  margin-right: 5px;
}

.child2{
  width: 100px;
  flex: 0 1 auto;
}

.child3{
  width: 75px;
  flex: 0 1 auto;
  margin-left: 5px;
}

.child4{
  width: 90px;
  flex: 0 1 auto;
  margin-left: 5px;
}


.child{
  margin-left: 5px;
  font-size: 20px;
  flex: 0 1 auto;
  color: #0055aa;
}

.child-exam
{
  margin-bottom: 5px;
  margin-left: 5px;
}

.containers a{
  text-decoration: none;
  border-bottom: none;
}

input[disabled]
{
  background-color: #efefef;
}

.div-button7{
  margin-bottom: 7px;
  }

.div-button10{
  margin-bottom: 10px;
}

.div-left5
{
  margin-left: 5px;
}

.div-left2
{
  margin-left: 2px;
}

.width30
{
  width: 30%;
}

.width50
{
  width: 50%;
}

.info {
  border: 1px solid #808080;
  padding: 4px 8px;
  width: 85%;
}

.info input
{
  border-bottom: 0;
  width: 100%;
  box-sizing:border-box;
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0
}

.care{
  border: lightgrey solid 1px;
  width: 70%;
  padding-left: 1px;
  padding-bottom: 0;
}

.help-text
{
  color: red;
}

textarea {
  width: 278px;
}

label {
  display: block;
}

#cleanInfo Input{
  width: 20%;
  margin-left: 5px;
}

.careburden{
  justify-content: space-between;
  width:53%;
  margin-bottom: 3px;
}
