<form [formGroup]="bedForm" *ngIf="bedForm">
  <vgr-card>
    <vgr-card-column>
      <label for="bedName">Namn:</label>
      <div class="information" *ngIf="allowedNames.length > 0 && bedForm.get('label').value.length == 0 ">Dessa namn är också tilllåtna:</div>
      <div class="information" *ngIf="allowedNames.length > 0 && bedForm.get('label').value.length == 0 ">{{allowedNames}}</div>
      <span *ngIf="!bedForm.get('label').valid> 0" class="isInvalid">Inget valid namn!!</span>
      <vgr-input id="bedName" formControlName="label" [showValidation]="!bedForm.get('label').valid"  placeholder={{allowedNames}}></vgr-input>
      <div>
        <vgr-radio-group formControlName="bedstatus" [options]="bedStatusOptions" [vertical]="true">
        </vgr-radio-group>
      </div>
    </vgr-card-column>
    <vgr-card-column>
      <!-- The null option makes it at least 1, so therefore we check for >1. -->
      <div *ngIf="sskDropdownItems.length > 1" class="div-button7">
        <label for="sskDropdown">Team / Vårdlag:</label>
        <vgr-dropdown-select id="sskDropdown" formControlName="ssk" >
          <vgr-dropdown-item *ngFor="let item of sskDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
        </vgr-dropdown-select>
      </div>
      <div formGroupName="waitingforbedGroup" *ngIf="unit.hasPatientWaitsFeature">
        <div class="div-button7">
          <vgr-checkbox formControlName="waitingpatient" label="Patient väntar"></vgr-checkbox>
          <vgr-dropdown-select *ngIf="servingKlinikerDropdownItems.length != 0" formControlName="servingKlinik" [disabled]="!bedForm.get('waitingforbedGroup.waitingpatient').value">
            <vgr-dropdown-item *ngFor="let item of servingKlinikerDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
        </div>
      </div>
    </vgr-card-column>
  </vgr-card>

  <hr style="width: 95%; margin-left: 0" [ngStyle]="{display: bedForm.get('bedstatus').value == 'OCCUPIED' ? 'block' : 'none'}"/>

  <vgr-card formGroupName="patient" [ngStyle]="{display: bedForm.get('bedstatus').value == 'OCCUPIED' ? 'block' : 'none'}">
    <vgr-card-column>
      <div>
        <div class="div-button10" [hidden]="!unit.hasPatientNameColumn">
          <div>Patient</div>
          <vgr-input formControlName="label" [showValidation]="!bedForm.get('patient.label').valid"></vgr-input>
          <!--<span *ngIf="bedForm.get('patient.label').hasError('pattern')" class="help-text"> Inga siffror i namnet</span>-->
        </div>

        <div class="div-button10" *ngIf="unit.hasGenderFeature">
          <div>Kön</div>
          <vgr-dropdown-select formControlName="gender">
            <vgr-dropdown-item *ngFor="let item of genderDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
        </div>

        <div class="div-button7">
          <div>Permission/Teknisk plats</div>
          <vgr-dropdown-select formControlName="leaveStatus" noItemSelectedLabel="Välj...">
            <vgr-dropdown-item *ngFor="let item of leaveStatusesDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
        </div>

        <div *ngIf="unit.hasPalFeature" class="div-button10">
          <div>PAL</div>
          <vgr-input formControlName="pal" width="15%"></vgr-input>
        </div>

        <div class="div-button7" *ngIf="unit.hasPatientFromClinicFeature">
          <p>Klinik</p>
          <vgr-dropdown-select *ngIf="servingKlinikerDropdownItems.length != 0" formControlName="fromClinic">
            <vgr-dropdown-item *ngFor="let item of servingKlinikerDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
        </div>

        <div class="div-button10" *ngIf="unit.hasDatedBackHomeFeature">
          <p>Planerad hemgång</p>
          <div class="containers">
            <vgr-datepicker formControlName="plannedLeaveDate"></vgr-datepicker>
            <!--<a (click)="deleteDate()" class="div-left2"><i class="fa fa-times-rectangle-o child"></i></a>-->
            <a (click)="deleteDate()" class="icon-link">
              <span [appCallout]="'Rensa datum'" class="material-icons">
                cancel_presentation
              </span>
            </a>
          </div>
        </div>
        <div *ngIf="unit.hasBackToHomeAlternativFeature" class="div-button10">
          <div>Hemgång alternativ</div>
          <div class="info" formGroupName="infoGroup">
            <vgr-radio-group formControlName="information" [options]="informationOptions" [vertical]="true">
            </vgr-radio-group>
            <input formControlName="kommentar" placeholder="Kommentar ..."/>
          </div>
        </div>

        <div *ngIf="unit.hasLeftDateFeature" class="div-button10">
          <div class="row-with-icon"><span>Gick hem</span> <span class="material-icons" appCallout="Gör sängen ledig och lägg till i statistiken">info</span></div>
          <div class="containers">
            <!--<vgr-datepicker formControlName="leftDate"></vgr-datepicker>-->
            <vgr-button (click)="executeHasLeft()" class="div-left2">Gick hem</vgr-button>
          </div>
        </div>

        <!--<div *ngIf="unit.hasCarePlan" class="div-button10">
          <label for="carePlan">Vårdplan</label>
          <vgr-textarea  id="carePlan" formControlName="carePlan" width="85%"></vgr-textarea>
        </div>-->

       <!-- <div class="div-button10">
          <div>Övriga anteckningar</div>
          <vgr-textarea formControlName="relatedInformation" width="85%"></vgr-textarea>
        </div>-->
      </div>
    </vgr-card-column>
    <vgr-card-column>

      <div *ngIf="unit?.careBurden == 'tal' || unit?.careBurden == 'text'" class="div-button10">
        <label>Vårdtyngd</label>
        <div formArrayName="careBurdenChoices" *ngFor="let careBurdenCategory of unit.careBurdenCategories let i = index;">
          <div [formGroupName]="i" class="containers careburden">
            <label>{{careBurdenCategory.name}}</label>
            <vgr-dropdown-select formControlName="careBurdenValueId" noItemSelectedLabel="Välj">
              <vgr-dropdown-item *ngFor="let item of careBurdenValuesOptions" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
            </vgr-dropdown-select>
          </div>
        </div>
      </div>

      <div class="div-button10">
        <div class="containers">
          <label>Undersökningar</label>
          <a (click)="addExamination()"><i class="fa fa-plus-square child"></i></a>
        </div>
        <div  formArrayName="patientExaminations" *ngFor="let examination of patientExaminations.controls let i = index;" class="clearfix">
          <div [formGroupName]="i" class="containers">
            <input formControlName="examination" class="child1"/>
            <vgr-datepicker formControlName="examinationDate"></vgr-datepicker>
            <input formControlName="examinationtime" placeholder="tid..." class="child3"/>

            <a (click)="deleteExamination(i)" class="icon-link"><span class="material-icons icon-tomato">delete</span></a>
            <a (click)="cleanExamninationDate(i)" class="icon-link">
              <span [appCallout]="'Rensa datum'" class="material-icons">
                cancel_presentation
              </span>
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="unit.hasHendelseFeature" class="div-button10">
        <div class="containers">
          <label>Händelser</label>
          <a (click)="addPatientEvent()"><i class="fa fa-plus-square child"></i></a>
        </div>
        <div  formArrayName="patientEvents" *ngFor="let event of patientEvents.controls let i = index;" class="clearfix">
          <div [formGroupName]="i" class="containers">
            <input formControlName="event" class="child1"/>
            <vgr-datepicker formControlName="eventDate"></vgr-datepicker>
            <input formControlName="eventTime" placeholder="tid..." class="child3"/>
            <input formControlName="eventInfo" class="child4"/>
            <a (click)="deletePatientEvent(i)" class="icon-link"><span class="material-icons icon-tomato">delete</span></a>
            <a (click)="cleanDate(i)" class="icon-link">
              <span [appCallout]="'Rensa datum'" class="material-icons">
                cancel_presentation
              </span>
            </a>
          </div>
        </div>
      </div>

     <!-- <div  *ngIf="unit.hasMotherChildDietFeature" class="div-button10">
        <p>Kost Mor</p>
        <div class="containers" formGroupName="kostMorGroup">
          <vgr-dropdown-select  formControlName="dietMother" noItemSelectedLabel="Välj">
            <vgr-dropdown-item *ngFor="let item of dietMotherDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
          <textarea formControlName="infoDietMother" class="div-left5" cols="40"></textarea>

        </div>
      </div>
      <div  *ngIf="unit.hasMotherChildDietFeature" class="div-button10">
        <p>Kost Barn</p>
        <div class="containers" formGroupName="kostBarnGroup">
          <vgr-dropdown-select  formControlName="dietChild" noItemSelectedLabel="Välj">
            <vgr-dropdown-item *ngFor="let item of dietChildDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
          <textarea formControlName="infoDietChild" class="div-left5" cols="40"></textarea>

        </div>
      </div>
      <div  *ngIf="unit.hasKostFeature" class="div-button10">
        <p>Kost</p>
        <div class="containers" formGroupName="kostGroup">
          <vgr-dropdown-select  formControlName="diet" noItemSelectedLabel="Välj">
            <vgr-dropdown-item *ngFor="let item of dietDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
          </vgr-dropdown-select>
          <textarea formControlName="infoDiet" class="div-left5" cols="40"></textarea>
        </div>
      </div>
-->


      <div class="div-button10">
        <p>Tolk</p>
        <div class="containers" formGroupName="tolkGroup">
          <vgr-checkbox formControlName="interpreter"></vgr-checkbox>
          <vgr-datepicker formControlName="interpretDate" [disabled]="!bedForm.get('patient.tolkGroup.interpreter').value"></vgr-datepicker>
          <input formControlName="interpretInfo" disabled *ngIf="!bedForm.get('patient.tolkGroup.interpreter').value" class="div-left5" [placeholder]="'Info...'"/>
          <input formControlName="interpretInfo"  *ngIf="bedForm.get('patient.tolkGroup.interpreter').value" class="div-left5" [placeholder]="'Info...'"/>
          <a (click)="deleteInterpreterDate()" class="icon-link">
            <span [appCallout]="'Rensa datum'" class="material-icons">
              cancel_presentation
            </span>
          </a>
        </div>
      </div>

      <div *ngIf="unit.hasAmningFeature" class="div-button10">
        <div>Amning</div>
        <vgr-radio-group formControlName="amning" [options]="amningOptions" [vertical]="false">
        </vgr-radio-group>
      </div>

      <div  *ngIf="unit.hasMotherChildDietFeature" class="div-button7">
        <vgr-checkbox formControlName="specialDietMother" label="Special kost mor"></vgr-checkbox>
      </div>
      <div  *ngIf="unit.hasMotherChildDietFeature" class="div-button7">
        <vgr-checkbox formControlName="specialDietChild" label="Special kost barn"></vgr-checkbox>
      </div>
      <div  *ngIf="unit.hasKostFeature" class="div-button7">
        <vgr-checkbox formControlName="specialDiet" label="Special kost"></vgr-checkbox>
      </div>

      <!--<div  *ngIf="unit.hasSekretessFeature" class="div-button10">
        <p>Sekretess</p>
        <div class="containers" formGroupName="sekretessGroup">
          <vgr-checkbox formControlName="sekretess"></vgr-checkbox>
          <input formControlName="sekretessInfo" disabled *ngIf="!bedForm.get('patient.sekretessGroup.sekretess').value" class="width30"/>
          <input formControlName="sekretessInfo" *ngIf="bedForm.get('patient.sekretessGroup.sekretess').value" class="width30"/>
        </div>
      </div>-->

      <!--<div  *ngIf="unit.hasSmittaFeature" class="div-button10">
        <p>Smitta</p>
        <div class="containers" formGroupName="smittaGroup">
          <vgr-checkbox formControlName="smitta"></vgr-checkbox>
          <input formControlName="smittaInfo" disabled *ngIf="!bedForm.get('patient.smittaGroup.smitta').value" class="width30"/>
          <input formControlName="smittaInfo" *ngIf="bedForm.get('patient.smittaGroup.smitta').value" class="width50"/>
        </div>
      </div>-->

      <div *ngIf="unit.hasAkutPatientFeature" class="div-button7">
        <vgr-checkbox formControlName="akutPatient" label="Akut patient"></vgr-checkbox>
      </div>

      <div *ngIf="unit.has23oFeature" class="div-button7">
        <vgr-checkbox formControlName="electiv23O" label="Electiv 23O"></vgr-checkbox>
      </div>

      <div *ngIf="unit.has24oFeature" class="div-button7">
        <vgr-checkbox formControlName="electiv24O" label="Electiv 24O"></vgr-checkbox>
      </div>

      <div *ngIf="unit.hasVuxenPatientFeature" class="div-button7">
        <vgr-checkbox formControlName="vuxenPatient" label="Vuxen patient"></vgr-checkbox>
      </div>

      <!--<div *ngIf="unit.hasInfekteradFeature" class="div-button7">
        <vgr-checkbox formControlName="infekterad" label="Infekterad"></vgr-checkbox>
      </div>

      <div *ngIf="unit.hasInfectionSensitiveFeature" class="div-button7">
        <vgr-checkbox formControlName="infectionSensitive" label="Infektionkänslig"></vgr-checkbox>
      </div>-->

      <div *ngIf="unit.hasMorRondFeature" class="div-button7">
        <vgr-checkbox formControlName="morRond" label="Rond Mor"></vgr-checkbox>
      </div>

      <div *ngIf="unit.hasBarnRondFeature" class="div-button7">
        <vgr-checkbox formControlName="barnRond" label="Rond Barn"></vgr-checkbox>
      </div>

      <div *ngIf="unit.hasRondFeature" class="div-button7">
        <vgr-checkbox formControlName="rond" label="Rond"></vgr-checkbox>
      </div>


    </vgr-card-column>
  </vgr-card>

  <hr style="width: 95%; margin-left: 0"/>
  <vgr-card>

    <vgr-card-column>
      <div  *ngIf="unit.hasCleaningFeature" class="div-button10">
        <p>Städning</p>
      <div class="containers" formGroupName="cleaningGroup" id="cleanInfo">
        <vgr-checkbox formControlName="cleaningalternativeExists"></vgr-checkbox>

        <vgr-dropdown-select *ngIf="cleaningAlternativesDropdownItems?.length != 0"
                             formControlName="cleaningAlternative"
                             noItemSelectedLabel="Välj"
                             [disabled]="!bedForm.get('cleaningGroup.cleaningalternativeExists').value" [small]="true">
          <vgr-dropdown-item *ngFor="let item of cleaningAlternativesDropdownItems" [value]="item.value">{{item.displayName}}</vgr-dropdown-item>
        </vgr-dropdown-select>

        <input formControlName="cleaningInfo" *ngIf="bedForm.get('cleaningGroup.cleaningalternativeExists').value"/>
        <input formControlName="cleaningInfo" disabled *ngIf="!bedForm.get('cleaningGroup.cleaningalternativeExists').value"/>
      </div>
      </div>
    </vgr-card-column>
  </vgr-card>

  <div class="containers clearfix">
    <div style="flex-grow: 8; flex-shrink: 0">
      <app-link-icon (click)="openDeleteModal()" class="warning" label="Ta bort säng" icon="delete"></app-link-icon>
    </div>

    <div  style="flex-grow: 1; flex-shrink: 0">
      <vgr-button default="true" (click)="save()" [disabled]="!bedForm.valid">Spara</vgr-button>
      <vgr-button buttonStyle="secondary" (click)="cancel()" >Avbryt</vgr-button>
    </div>
  </div>
</form>
