<form [formGroup]="bedForm" *ngIf="bedForm">
  <vgr-card>
    <vgr-card-column>
      <label for="bedName">Namn:</label>
      <vgr-input id="bedName" formControlName="label"></vgr-input>
      <div style="margin-bottom: 7px">
        <vgr-checkbox formControlName="occupied" label="Upptagen"></vgr-checkbox>
      </div>

    </vgr-card-column>
    <vgr-card-column>
      <div *ngIf="sskDropdownItems.length > 0">
        <label for="sskDropdown">SSK / Vårdlag:</label>
        <vgr-dropdown id="sskDropdown" formControlName="ssk" [items]="sskDropdownItems"></vgr-dropdown>
      </div>
      <div formGroupName="waitingforbedGroup">
        <div style="margin-bottom: 7px">
          <vgr-checkbox formControlName="waitingpatient" label="Patient väntar"></vgr-checkbox>
          <vgr-dropdown *ngIf="servingKlinikerDropdownItems.length != 0" formControlName="servingKlinik"
                        noItemSelectedLabel="Välj klinik"
                        [items]="servingKlinikerDropdownItems" [disabled]="!bedForm.get('waitingforbedGroup.waitingpatient').value"></vgr-dropdown>
        </div>
      </div>
    </vgr-card-column>
  </vgr-card>

  <hr style="width: 95%; margin-left: 0"/>

  <vgr-card formGroupName="patient">
    <vgr-card-column>
      <div>
        <div style="margin-bottom: 10px">
          <div>Patient</div>
          <vgr-input formControlName="label"></vgr-input>
        </div>

        <div style="margin-bottom: 10px">
          <div>Kön</div>
          <vgr-dropdown formControlName="gender" noItemSelectedLabel="Välj kön"
                        [items]="genderDropdownItems"></vgr-dropdown>
        </div>

        <div style="margin-bottom: 7px">
          <div>Permission/Teknisk plats</div>
          <vgr-dropdown formControlName="leaveStatus" noItemSelectedLabel="Välj..."
                        [items]="leaveStatusesDropdownItems"></vgr-dropdown>
        </div>

        <div style="margin-bottom: 10px">
          <p>Tolk</p>
          <div class="containers" formGroupName="tolkGroup">
            <vgr-checkbox formControlName="interpreter"></vgr-checkbox>
            <vgr-datepicker formControlName="interpretDate" [disabled]="!bedForm.get('patient.tolkGroup.interpreter').value"></vgr-datepicker>
            <vgr-input formControlName="interpretInfo" id = "comment"></vgr-input>
          </div>
        </div>

        <div *ngIf="unit.hasAkutPatientFeature" style="margin-bottom: 7px">
          <vgr-checkbox formControlName="akutPatient" label="Akut patient"></vgr-checkbox>
        </div>

        <div *ngIf="unit.has23oFeature" style="margin-bottom: 7px">
          <vgr-checkbox formControlName="electiv23O" label="Electiv 23O"></vgr-checkbox>
        </div>

        <div *ngIf="unit.has24oFeature" style="margin-bottom: 7px">
          <vgr-checkbox formControlName="electiv24O" label="Electiv 24O"></vgr-checkbox>
        </div>

      </div>
    </vgr-card-column>
    <vgr-card-column>
      <div *ngIf="unit.hasLeftDateFeature" style="margin-bottom: 10px">
        <div class="row-with-icon"><span>Gick hem</span> <span class="material-icons" appCallout="Gör sängen ledig">info</span></div>
        <vgr-datepicker formControlName="leftDate"></vgr-datepicker>
      </div>

      <div style="margin-bottom: 10px">
        <p>Planerad hemgång</p>
        <div class="containers">
          <vgr-datepicker formControlName="plannedLeaveDate"></vgr-datepicker>
          <i (click)="deleteDate()" class="fa fa-times-rectangle-o child"></i>
        </div>

      </div>

      <div *ngIf="unit.hasCarePlan" style="margin-bottom: 10px">
        <label for="carePlan">Vårdplan</label>
        <vgr-input id="carePlan" formControlName="carePlan"></vgr-input>
      </div>

      <div>
        <div>
          <label for="carePlan">Undersökningar</label>
          <i (click)="addExamination()" class="fa fa-plus-square child"></i>
        </div>
        <div  formArrayName="patientExaminations" *ngFor="let examination of patientExaminations.controls let i = index;" class="clearfix">
          <div [formGroupName]="i" class="containers">
            <input formControlName="examination" class="child1"/>
            <vgr-datepicker formControlName="examinationDate"></vgr-datepicker>
            <input formControlName="examinationtime" placeholder="tid..." class="child3"/>

            <a (click)="deleteExamination(i)" class="icon-link"><span class="material-icons">delete</span></a>
          </div>
        </div>
      </div>
    </vgr-card-column>
  </vgr-card>

  <hr style="width: 95%; margin-left: 0"/>
  <vgr-card>
    <vgr-card-column>
      <div style="margin-bottom: 10px">
        <div>Övriga anteckningar</div>
        <vgr-textarea formControlName="relatedInformation" width="90%"></vgr-textarea>
      </div>
    </vgr-card-column>
    <vgr-card-column></vgr-card-column>
  </vgr-card>

  <div class="clearfix button-row save-cancel-delete" >
    <vgr-save-cancel [hideLock]="true" [locked]="false" (cancel)="cancel()"
                     (save)="save()"></vgr-save-cancel>
    <vgr-button class="error" (click)="openDeleteModal()" style="margin-right: 30px;">Radera</vgr-button>
  </div>
</form>
