.containers{
  display: flex;
}

.child1{
  width: 200px;
  flex: 0 1 auto;
  margin-right: 5px;
  flex: 0 1 auto;
}

.child2{
  width: 100px;
  flex: 0 1 auto;
}

.child3{
  width: 50px;
  flex: 0 1 auto;
  margin-left: 5px;
}

.child4{
  width: 90px;
  flex: 0 1 auto;
  margin-left: 5px;
}


.child{
  margin-left: 5px;
  font-size: 20px;
  color: #0055aa;
}

.containers a{
  text-decoration: none;
  border-bottom: none;
}

input[disabled]
{
  background-color: #efefef;
}

.div-button7{
  margin-bottom: 7px;
  }

.div-button10{
  margin-bottom: 10px;
}

.div-left5
{
  margin-left: 5px;
}

.div-left2
{
  margin-left: 2px;
}

.width30
{
  width: 30%;
}

.width50
{
  width: 50%;
}
