.tolk{
  display: flex;
}

#comment{
  margin-left: 5px;
}

.examin
{
  display: flex;
}

.child1{
  width: 300px;
  flex: 0 1 auto;
  margin-right: 5px;
  flex: 0 1 auto;

}

.child2{
  width: 100px;
  flex: 0 1 auto;
}

.child3{
  width: 75px;
  flex: 0 1 auto;
  margin-left: 5px;
}
