<table class="center" style="display: inline">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let cbk of unit?.careBurdenCategories; let j = index" class="{{j % 2 === 0 ? 'every-second' : ''}}"
        [colSpan]="cbvs.length">{{cbk.name}}</th>
  </tr>
  <tr>
    <th>Vårdlag</th>
    <ng-container *ngFor="let cbk of unit?.careBurdenCategories; let j = index">
      <th *ngFor="let cbv of cbvs; let i = index"
          class="{{cbv.name?.toLowerCase() === 'röd' ? 'red-cell' : ''}} {{i === 0 ? 'left-border' : ''}} {{i === 1 ? 'right-border' : ''}} {{j % 2 === 0 ? 'every-second' : ''}}">{{cbv.name}}</th>
    </ng-container>
  </tr>
  </thead>
  <tr *ngFor="let ssk of unit?.ssks">
    <td><app-ssk-icon [ssk]="ssk"></app-ssk-icon></td>
    <ng-container *ngFor="let cbk of unit?.careBurdenCategories; let j = index">
      <td *ngFor="let value of cbvs; let i = index"
          class="{{i === 0 ? 'left-border' : ''}} {{i === 1 ? 'right-border' : ''}} {{j % 2 === 0 ? 'every-second' : ''}}">
        {{getMatrixValue(ssk, cbk, value)}}
      </td>
    </ng-container>
  </tr>
</table>
