<table class="table">
  <thead>
  <tr>
    <th>{{unit.name}}</th>
    <th *ngFor="let day of daysAndMonths" class="pad-left-20" style="text-align: center">{{day.dayName}} {{day.dayNumber}}/{{day.monthNumber}}</th>
  </tr>
  </thead>
  <tr *ngFor="let plan of unit?.unitsPlannedIn">
    <td>{{plan.name}}</td>
    <td *ngFor="let day of daysAndMonths; let i = index" style="text-align: center" [ngStyle]="{backgroundColor: sevendaysMatrix[plan.name][i] > 0 ? 'limegreen' : ''}">{{sevendaysMatrix[plan.name][i]}}</td>
  </tr>
  <tr>
    <td class="sum">Summa:</td>
    <td *ngFor="let sum of sevenDaysSumArray" style="text-align: center" class="sum" [ngStyle]="{backgroundColor: sum > 0 ? 'lightblue' : ''}">{{sum}}</td>
  </tr>

</table>
