<vgr-panel-container class="block" *ngIf="unit?.careBurden == 'text' && justCareBurdenItems(unit.ssks).length > 0">
  <vgr-panel width="12">


    <div class="row-layout panel-heading">
      <div class="panel-heading-text">
        <strong>
          Vårdtyngd per kategori
        </strong>
      </div>
    </div>

    <div class="careburden-text-wrap"
         *ngIf="!(unit?.careBurdenCategories.length <=2 && cbvs.length <= 2)">
      <div class="careburden-text-ssk" *ngFor="let ssk of justCareBurdenItems(unit?.ssks)">

        <div class="careburden-text-ssk-label">
          Vårdlag
          <app-ssk-icon [ssk]="ssk"></app-ssk-icon>
          <span *ngIf="unit.hasBackToHomeStatistics" class="fr">
            ( Hemgångar: <app-widget-ssk-leave-for-home-sum [unit]="unit" [ssk]="ssk"></app-widget-ssk-leave-for-home-sum> )
          </span>
        </div>

        <table class="vpp-table">
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let cbk of unit?.careBurdenCategories" class="right">{{cbk.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let value of cbvs; let i = index">
            <td>{{value.name}}</td>
            <td *ngFor="let cbk of unit?.careBurdenCategories" class="right">
              {{getMatrixValue(ssk, cbk, value)}}
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <table class="vpp-table center" *ngIf="unit?.careBurdenCategories.length <=2 && cbvs.length <= 2">
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let cbk of unit?.careBurdenCategories" class="riddght right-border left-border"
            [colSpan]="cbvs.length">{{cbk.name}}
        </th>
        <th *ngIf="unit.hasBackToHomeStatistics" rowspan="2" class="left-border">
          Hem-<br/>
          gång
        </th>
      </tr>
      <tr>
        <th>Vårdlag</th>
        <ng-container *ngFor="let cbk of unit?.careBurdenCategories">
          <th *ngFor="let cbv of cbvs; let i = index"
              class="{{cbv.name?.toLowerCase() === 'röd' ? 'red-cell' : ''}} {{i === 0 ? 'left-border' : ''}} {{i === 1 ? 'right-border' : ''}}">
            {{cbv.name}}
          </th>
        </ng-container>
      </tr>
      </thead>
      <tr *ngFor="let ssk of justCareBurdenItems(unit?.ssks)">
        <td>
          <app-ssk-icon [ssk]="ssk"></app-ssk-icon>
        </td>
        <ng-container *ngFor="let cbk of unit?.careBurdenCategories">
          <td *ngFor="let value of cbvs; let i = index"
              class="{{i === 0 ? 'left-border' : ''}} {{i === 1 ? 'right-border' : ''}}">
            {{getMatrixValue(ssk, cbk, value)}}
          </td>
        </ng-container>
        <td *ngIf="unit.hasBackToHomeStatistics" class="left-border">
          <app-widget-ssk-leave-for-home-sum [unit]="unit" [ssk]="ssk"></app-widget-ssk-leave-for-home-sum>
        </td>
      </tr>
    </table>


  </vgr-panel>
</vgr-panel-container>
