// Override styling from Komponentkartan.
.container .row .list__header {
  border-right: none;
  border-left: none;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.page-block {
  //box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  //border: solid 1px #87939f;
  max-width: 100%;
  //background: transparent;
}

app-left-column .page-block {
  background: #fff;
  padding: 20px;

  &.transparent {
    background: transparent;
  }
}

html body {
  min-width: 0;
}

.list-item__content {
  width: auto !important;
}
