@import "../../../../node_modules/vgr-komponentkartan/assets/partials/_settings.sizes.scss";

$standard-box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);

$app-left-column-width-medium: 350px;
$app-left-column-width-small: 300px;
