@import "../../../../node_modules/vgr-komponentkartan/assets/partials/_settings.sizes.scss";

$standard-box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);

$app-left-column-width-medium: 450px;
$app-left-column-width-small: 400px;

// Changed EA
$app-right-column-width-medium: 450px;
$app-right-column-width-small: 400px;

$primary-color--yellow : #f2a900;
$primary-color--orange : #fc6600;
$primary-color--purple : #582c83;
$primary-color--pink : rgba(255, 192, 203, 1);
