<app-menu-title-row>

  <div class="menu-title-item">
    <div class="breadcrumbs">
      <a routerLink="..">{{clinic?.name}}</a>
      <app-chevron-right></app-chevron-right>
      {{unit?.name}}
    </div>
  </div>

  <div class="menu-title-item right">
      <app-dashboard-menu *ngIf="unit" [unit]="unit" type="unit-dashboard"></app-dashboard-menu>
  </div>

</app-menu-title-row>

<app-layout>

  <app-layout-row>
    
    <app-layout-column width=6>
        <app-widget-messages [messages]="messages" [hasEditUnitPermission]="hasEditUnitPermission()"></app-widget-messages>
    </app-layout-column>
    
    <app-layout-column width=6>
      <app-widget-diet-list [clinic]="clinic" [unit]="unit"></app-widget-diet-list>
    </app-layout-column>

  </app-layout-row>

  <app-layout-row>
    
      <app-layout-column width=6>
          <app-widget-ssks *ngIf="unit?.ssks.length > 0" [unit]="unit"></app-widget-ssks>
      </app-layout-column>
      
      <app-layout-column width=6>

          <app-widget-careburden-average *ngIf="unit?.careBurden == 'tal'" [unit]="unit" [bedsExpanded]="true"></app-widget-careburden-average>
          
          <app-widget-careburden-with-text *ngIf="unit?.careBurden == 'text'" [burdenvals]="burdenvals" [unit]="unit" [sskCategoryValueMatrix]="sskCategoryValueMatrix"></app-widget-careburden-with-text>

          <vgr-panel-container>
              <vgr-panel width="6" *ngIf="unit?.careBurden == 'tal'">
                  
              </vgr-panel>
              <vgr-panel width="6" *ngIf="unit?.careBurden == 'text'">
                  
              </vgr-panel>
            </vgr-panel-container>                  
      
      </app-layout-column>

    </app-layout-row>


</app-layout>