<app-menu-title-row>

  <div class="menu-title-item">
    <div class="breadcrumbs">
      <a routerLink="..">{{clinic?.name}}</a>
      <app-chevron-right></app-chevron-right>
      {{unit?.name}}
    </div>
  </div>

  <div class="menu-title-item right">
      <app-dashboard-menu *ngIf="unit" [unit]="unit" type="unit-dashboard"></app-dashboard-menu>
  </div>

</app-menu-title-row>

<app-row>

    <div>

        <vgr-panel-container>

            <vgr-panel width="6" themecolor="green">
              <app-widget-messages [messages]="messages" [hasEditUnitPermission]="hasEditUnitPermission()"></app-widget-messages>
            </vgr-panel>

            <vgr-panel width="6" *ngIf="unit?.hasMotherChildDietFeature || unit?.hasKostFeature">
                <app-widget-diet-list [clinic]="clinic" [unit]="unit"></app-widget-diet-list>
            </vgr-panel>

        </vgr-panel-container>

        <vgr-panel-container>

          <vgr-panel width="6" *ngIf="unit?.ssks.length > 0">
              <app-widget-ssks [unit]="unit"></app-widget-ssks>
          </vgr-panel>

          <vgr-panel width="6" *ngIf="unit?.careBurden == 'tal'">
              <app-widget-careburden-average [unit]="unit" [bedsExpanded]="true"></app-widget-careburden-average>
          </vgr-panel>

          <vgr-panel width="6" *ngIf="unit?.careBurden == 'text'">
              <app-widget-careburden-with-text [burdenvals]="burdenvals" [unit]="unit" [sskCategoryValueMatrix]="sskCategoryValueMatrix"></app-widget-careburden-with-text>
          </vgr-panel>


        </vgr-panel-container>                  

      </div>  

</app-row>
