<vgr-page>
  <vgr-page-header>
    <h1>{{clinic?.name}}</h1>
  </vgr-page-header>

  <vgr-page-body>

    <vgr-page-block>
      <div *ngIf="units">

        <ul>
          <li *ngFor="let unit of units">
            <a [routerLink]="unit.id">{{unit.name}}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="!units && !error">
        <vgr-loader [small]="false"></vgr-loader>
      </div>

      <div *ngIf="error">
        <div class="alert">{{error}}</div>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
