<app-menu-title-row>
  
  <div class="breadcrumbs">
      <a routerLink="..">Kliniker</a>
      <app-chevron-right></app-chevron-right>
      {{clinic?.name}}
    </div>

</app-menu-title-row>

<app-row>
  <app-left-column>
      <vgr-page-block>
          <div *ngIf="units">

              <h1>Välj avdelning</h1>
    
            <ul>
              <li *ngFor="let unit of units">
                <a [routerLink]="unit.id">{{unit.name}}</a>
              </li>
            </ul>
    
            <div *ngIf="units.length === 0 && loggedIn && !isFetchingUnits">
              Du har inte behörighet att lista någon avdelning. För att komma till en avdelning behöver du adressen direkt till avdelningen.
            </div>
    
            <div *ngIf="units.length === 0 && !loggedIn">
              Prova att logga in för att lista avdelningar.
    
              <app-login-form></app-login-form>
            </div>
    
          </div>
        </vgr-page-block>
  </app-left-column>
  <app-right-column>
  </app-right-column>
</app-row>
