/* You can add global styles to this file, and also import other style files */
@import "../node_modules/vgr-komponentkartan/assets/partials/_settings.colors.scss";
@import "../node_modules/dragula/dist/dragula.min.css"; // todo try taking the css from https://github.com/valor-software/ng2-dragula and see if it is better.

vgr-button.error .text-button {
  background-color: $primary-color--error;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button-row {
  margin-top: 24px;

  &.save-cancel-delete {
    vgr-save-cancel {
      float: left;
    }

    .error {
      float: right;
    }
  }
}

/*vgr-list-item.list-item.list-item--expanded:not(.list-item--compact) {
  //box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  margin-bottom: 0;
}*/

.icon-link-with-text {
  .icon-text {
    float: left;
    line-height: 30px;
  }

  > span:first-child {
    display: inline-block;
    float: left;
    width: 32px;
  }
}

.add-row.vgr-icon-plus {
  line-height: 30px;
  padding-left: 32px;
}

.ssk-color, .status-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /*background: #007180;*/
  /* float: left; */
  vertical-align: middle;
  line-height: 25px;
  /* box-sizing: border-box; */
  margin-left: 12px;
  position: relative;
  bottom: 1px;
}

.status-VACANT {
  background-color: $secondary-color--green;
}

.status-OCCUPIED {
  background-color: $secondary-color--red;
}

.ssk-BLUE {
  background-color: $primary-color--blue;
}

.ssk-GREEN {
  background-color: $primary-color--green;
}

.ssk-RED {
  background-color: $primary-color--red;
}

a.icon-link {
  border-bottom: none;
  text-decoration: none;
}

.vpp-table {
  tbody td, thead th {
    border-bottom: 1px solid #aaa;
  }

  td {
    padding: 4px 8px;
  }

  th {
    font-weight: bold;
  }

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/font/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/font/MaterialIcons-Regular.woff) format('woff'),
  url(assets/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  overflow: hidden;
  width: 24px;
}

.row-with-icon {
  .material-icons {
    position: absolute;
  }
}
