/* You can add global styles to this file, and also import other style files */
@import "../node_modules/vgr-komponentkartan/assets/partials/_settings.colors.scss";
@import "../node_modules/vgr-komponentkartan/assets/partials/_settings.sizes.scss";
@import "../node_modules/dragula/dist/dragula.min.css"; // todo try taking the css from https://github.com/valor-software/ng2-dragula and see if it is better.

@import "assets/scss/utilities/variables";
@import "assets/scss/utilities/grid";

@import "assets/scss/atoms/link";
@import "assets/scss/atoms/headings";

@import "assets/scss/molecules/breadcrumbs";
@import "assets/scss/molecules/link-button";
@import "assets/scss/molecules/menu";
@import "assets/scss/molecules/menu-title-row";
@import "assets/scss/molecules/panel";
@import "assets/scss/molecules/panel-container";
@import "assets/scss/molecules/careburden-circles";
@import "assets/scss/molecules/careburden-text";
@import "assets/scss/molecules/link-icon";
@import "assets/scss/molecules/vgr-list";
@import "assets/scss/molecules/vpp-table";
@import "assets/scss/molecules/widget-messages";

@import "assets/scss/organisms/bed-table";
@import "assets/scss/organisms/block";
@import "assets/scss/organisms/header";
@import "assets/scss/organisms/table";
@import "assets/scss/organisms/vpp-statistics";

@import "assets/scss/utilities/overrides";



vgr-button.error .text-button {
  background-color: $primary-color--error;
}

.app-title {
  display: inline-block;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.save-cancel {
  justify-content: flex-end;
}

.button-row {
  margin-top: 24px;

  &.save-cancel-delete {
    vgr-save-cancel {
      float: right;
    }

    .error {
      float: left;
    }
  }
}

/*vgr-list-item.list-item.list-item--expanded:not(.list-item--compact) {
  //box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  margin-bottom: 0;
}*/

.icon-with-text {
  background-position: left;
  padding-left: 30px;
  width: auto;
}

.icon-link-with-text {
  .icon-text {
    float: left;
    line-height: 30px;
  }

  > span:first-child {
    display: inline-block;
    float: left;
    width: 32px;
  }
}

.add-row.vgr-icon-plus {
  line-height: 30px;
  padding-left: 32px;
}

.ssk-color, .care-burden-value-color, .status-color, .only-color {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /*background: #007180;*/
  /* float: left; */
  vertical-align: middle;
  line-height: 25px;
  /* box-sizing: border-box; */
  margin-left: 12px;
  position: relative;
  bottom: 1px;
  text-indent: -9999px;
}

.status-VACANT {
  background-color: $primary-color--green;
}

.status-OCCUPIED {
  background-color: $primary-color--red;
}

.ssk-BLUE, .BLUE {
  background-color: $primary-color--blue;
}

.ssk-GREEN, .GREEN {
  background-color: $primary-color--green;
}

.ssk-RED, .RED {
  background-color: $primary-color--red;
}


.ssk-YELLOW, .YELLOW {
  background-color:$primary-color--yellow;
}

.ssk-PURPLE, .PURPLE {
  background-color:$primary-color--purple;
}

.ssk-PINK, .PINK {
  background-color: $primary-color--pink;
}

.ssk-WHITE, .WHITE {
  background-color: #ffffff;
  border: 1px solid #555555;
  box-sizing: border-box;
}

.icon-colored-BLUE {
  color: $primary-color--blue;
}

.icon-colored-GREEN {
  color: $primary-color--green;
}

.icon-colored-RED {
  color: $primary-color--red;
}

.icon-colored-YELLOW {
  color: $primary-color--yellow;
}

.icon-colored-PURPLE {
  color: $primary-color--purple;
}

.icon-colored-PINK {
  color: $primary-color--pink;
}

.icon-colored-WHITE {
  color: #ffffff;
  //border: 1px solid #555555;
  //box-sizing: border-box;
  text-shadow: 1px 1px 0px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

a.icon-link {
  border-bottom: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/font/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/font/MaterialIcons-Regular.woff) format('woff'),
  url(assets/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  overflow: hidden;
  width: 24px;
}

.row-with-icon {
  .material-icons {
    position: absolute;
  }
}

.page-block {
  @extend .clearfix;
}

b {
  font-weight: bold;
}
span.icon-tomato {
  color: $primary-color--red;;
}


td.center{
  text-align: center;
}
