<app-menu-title-row>

  <div class="menu-title-item">
    <div class="breadcrumbs">
      {{management?.name}}
    </div>
  </div>

</app-menu-title-row>

<app-row>
  <app-left-column>
    <h1 class="page-title">Välj Klinik</h1>

    <vgr-page-block>
      <div *ngIf="clinics.length > 0">
        <ul>
          <li *ngFor="let clinic of clinics">
            <a [routerLink]="clinic.id" [queryParams]="{managementName: management.name}">{{clinic.name}}</a>
          </li>
        </ul>

        <div *ngIf="clinics.length === 0 && loggedIn && !isFetchingClinics">
          Du har inte behörighet att lista någon Clinic. För att komma till en clinic behöver du adressen direkt till clinicen .
        </div>

        <div *ngIf="clinics.length === 0 && !loggedIn">
          Prova att logga in för att lista clinicer.

          <app-login-form></app-login-form>
        </div>

      </div>
    </vgr-page-block>
  </app-left-column>
  <app-right-column>
  </app-right-column>
</app-row>
