<div class="menu-trigger">
  <i class="fa fa-bars"></i>
  <div class="menu">
    <ul>
      <li><a routerLink="/">Hem</a></li>
      <li class="sub-menu">
        <span class="sub-menu-title">Administration <span class="bg-image-icon-chevron"></span></span>
        <ul>
          <li><a routerLink="/admin/clinics">Kliniker</a></li>
          <li><a routerLink="/admin/units">Avdelningar</a></li>
          <li><a routerLink="/admin/users">Användare</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
